<div>
	<slides></slides>
	<div class="public-nav">
		<ul>
			<li><a href="#!/detail" class="navimg"><img src="./img/nav1.png" alt=""></a><a href="#!/detail">热卖专题</a></li>
			<li><a href="#!/detail" class="navimg"><img src="./img/nav2.png" alt=""></a><a href="#!/detail">限时特卖</a></li>
			<li><a href="#!/detail" class="navimg"><img src="./img/nav3.png" alt=""></a><a href="#!/detail">城市玩乐</a></li>
			<li><a href="#!/detail" class="navimg"><img src="./img/nav4.png" alt=""></a><a href="#!/detail">机+酒</a></li>
		</ul>
	</div>
	<infolist></infolist>
	<style>
		.public-nav{
			height:1rem;
			width:100%;
			background:#f1f1f1;
			font-size:0.16rem;
			line-height: 1rem;
		}
		.public-nav ul {
			display: flex;
		}
		.public-nav ul li{
			flex:1;
			text-align: center;
			position: relative;
		}
		.public-nav ul li a{
			color:#626262;
		}
		.public-nav ul li .navimg{
			position: absolute;
			top:-30px;
			left:50%;
			z-index: 999;
			margin-left:-30px;
		}
		.public-nav ul li .navimg img{
			width: 60px;
			height: 60px;
		}
	</style>
</div>