<div>
	<div class="dheader">
		<span class='forback'></span>
		<span>心愿墙</span>
		<span></span>
		<span></span>
	</div>
	<div class="dreamlist">
		<ul>
			<li ng-repeat='lv in dreamarr'>
				<div class="dreams">
				<p>{{lv.contain}}<span class="price">&yen666</span></p>
				</div>
				<a href="#" class="listimg"><img ng-src="{{lv.url}}" alt=""></a>
				<div class="dream_msg"><span>许愿者<i>{{lv.auto}}</i></span><span>分享</span><span>688人收藏</span></div>
			</li>
		</ul>
	</div>
	<div class="write_dream">
		<h3>许愿板</h3>
		<div class="clear">
			<p>许愿者：<input type="text" class="name" ng-model='autoes'></p>
			<textarea ng-model="contains"></textarea>
			<button class="dreambtn" ng-click="dreambtn()">确定</button>
		</div>
		

	</div>
</div>
<style>
	.dheader{
		height:0.9rem;
		background:#fa5b60;
		color:#fff;
		font-size:0.18rem;
		text-align: center;
		line-height: 0.9rem;
	}
	.dreamlist{
		font-size: 0.16rem;
	}
	.dreamlist ul{
		width: 100%;
		color:#5a5a5a;
		background: #f8f8f8;
	}
	.dreamlist ul li{
		width:100%;
	}
	.dreamlist ul li .dreams{
		padding: 0.18rem 0;
	}
	.dreamlist ul li .dreams p{
		padding-left: 0.1rem;
		line-height: 0.24rem;
	}
	.dreamlist ul li p .price{
		background: #fa5b60;
		color:#fff;
		padding: 0 0.04rem;
		margin-left: 0.06rem;
		border-radius: 0.04rem;
	}
	.dreamlist ul li .listimg{
		display: block;
		width: 100%;
	}
	.dreamlist ul li .listimg img{
		height:2rem;
		width:100%;
	}
	.dreamlist  .dream_msg{
		display: flex;
	}
	.dreamlist  .dream_msg span{
		flex: 1;
		text-align: center;
		height:0.5rem;
		line-height: 0.5rem;
		border-bottom:1px solid #ccc;
		border-right:1px solid #ccc;

	}
	.dreamlist  .dream_msg span i{
		color:#fa5b60;
		padding: 0.05rem;
	}
	.write_dream{
		font-size: 0.16rem;
		margin-top:0.2rem;
		background: #fa5b60;
		color:#fff;
	}
	.write_dream h3{
		text-align:center;
		line-height:0.4rem;
		background:#f8f8f8;
		color:#5a5a5a;
	}
	.write_dream>div{
		padding: 0 0.1rem;
	}
	.write_dream p{
		box-sizing: border-box;
		padding: 0.1rem;
	}
	.write_dream .name{
		height:0.24rem;
		width:1.5rem;
		border:0px;
	}
	.write_dream textarea{
		width:100%;
		min-height:1rem;
		border:0px;
		background:#f7f7f7;
		border-radius: 0.05rem;
	}
	.dreambtn{
		display:block;
		float: right;
		padding: 0.02rem 0.05rem;
	}

	
</style>