<div class="wrap">
	<div class="footer">
		<ul>
			<li ng-click='nav(1)' ng-class="{active:page==1}"><a href="#!/index/page1">首页</a></li>
			<li ng-click='nav(2)' ng-class="{active:page==2}"><a href="#!/index/page2" >目的地</a></li>
			<li ng-click='nav(3)' ng-class="{active:page==3}"><a href="#!/index/page3">心墙愿</a></li>
			<li ng-click='nav(4)' ng-class="{active:page==4}"><a href="#!/index/page4">我</a></li>
		</ul>
	</div>
	<style>
		.footer{
			height:0.8rem;
			background:#f1f1f1;
			position:fixed;
			font-size:0.16rem;
			bottom:0px;
			left:50%;
			margin-left:-2.1rem;
			width:4.2rem;
		}
		.footer ul{
			width:100%;
			display: flex;
		}
		.footer ul li{
			flex:1;
			/*line-height:0.6rem;*/
			text-align: center;
		}
		
		.footer ul li a{
			color:#626262;
			display: inline-block;
			height:0.6rem;
			padding-top:0.5rem;
			width:100%;
			box-sizing: border-box;
			background:url(img/index.png) no-repeat center 5px;
		}
		.footer ul li:nth-child(2) a{
			background-image:url(img/adress.png) ;
		}
		.footer ul li:nth-child(3) a{
			background-image:url(img/dream.png) ;
		}
		.footer ul li:nth-child(4) a{
			background-image:url(img/my.png) ;
		}
		.footer .active a{
			color:#e9576c;
		}
	</style>
</div>